@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111827; /* gray-950 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #84cc16; /* lime-500 */
  border-radius: 20px;
  border: 3px solid #111827;
}
